
*{
    margin: 10px;
}
.container{
    width: 1000px;
    margin: auto;
    background-color: pink;
}
#header{
    width: 1000px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 35px;
    text-align: center;

}
.jquery {
    width: 1000px;
    height: 100px;
    background-color:lightcoral;
}
    .jquery button{
        width: 200px;
        height: 30px;
}

    .jquery p{
        display:inline-block;
}
.paragraph{
    color: green;
}